flex-version = flex
support-for-ie = false
vendor-prefixes = official
@import 'nib'

/* Variables */

f-primary = "Roboto"
c-primary = #4a0594
c-purple = #5a39a7
c-orange = #ffaa30

body
  background-color #ffffff
  font-family f-primary
  font-weight 400
  padding 28px 15px 70px

a
  text-decoration none
  &:hover
    text-decoration none

button
  outline none

.container
  max-width 1055px
  width 100%
  margin 0 auto

.row
  display flex
  justify-content flex-start
  flex-wrap wrap
  margin 0 -3px 0 -2px

.btn
  border none
  border-radius 4px
  cursor pointer
  font-size 13px
  display flex
  align-items center
  height 28px
  padding 0 10px
  transition all 0.3s ease
  &__icon
    size 12px 15px
    fill #ffffff
    margin-right 5px
  &_orange
    background-color c-orange
    color white
    &:hover
      background-color #ff8a10

.information
  margin-bottom 30px
  &__col
    box-sizing border-box
    max-width 25%
    padding 0 3px 5px 2px
    flex 0 0 25%
    +below(992px)
      max-width 50%
      flex 0 0 50%
    +below(425px)
      max-width 100%
      flex 0 0 100%

.b-card
  display flex
  align-items center
  justify-content space-between
  border-radius 4px
  box-sizing border-box
  padding 0 15px 0 25px
  size 100% 85px
  position relative
  &_indigo
    background-color c-primary
    color white
  &__info
    position relative
    z-index 2
  &__number
    font-size 25px
    font-weight 700
    line-height 29px
  &__desc
    font-size 13px
    line-height 24px
    +below(375px)
      line-height 16px
  &__icon
    fill #58329e
    height 100%
    absolute top 20px right 15px
    svg
      size 40px
    &_item3
      top 17px
      right 18px
      svg
        size 38px
    &_item4
      top 18px
      right 21px
      svg
        size 38px 36px

.b-item
  border 1px solid #e6ecf2
  border-left 4px solid #cedae6
  box-sizing border-box
  border-radius 4px
  padding 15px 16px 15px 25px
  position relative
  &:not(:last-child)
    margin-bottom 10px
  /*&:before
    size 4px 100%
    border-radius 4px 0 0 4px
    background-color #cedae6
    content ''
    absolute top 0 left 0*/
  &_active
    border-left 4px solid c-purple
    /*&:before
      size 4px 100%
      border-radius 4px 0 0 4px
      background-color c-purple
      content ''
      absolute top 0 left 0*/
  &_disabled
    color #bbbcc4
  &__header
    display flex
    justify-content space-between
    &-bl
      display flex
      flex-wrap wrap
      align-items center
  &__footer
    margin-top 3px
    display flex
    flex-wrap wrap
    justify-content space-between
    &-right
      +below(425px)
        width 100%
        margin-top 4px
  &__left
    &-bl
      display flex
      align-items center
  &__title
    font-size 16px
    font-weight 700
    line-height 25px
  &__info
    display flex
    align-items center
    height 100%
    &-text
      color #bbbcc4
      line-height 20px
      font-size 13px

.item-list
  display flex
  flex-wrap wrap
  margin-left 5px
  letter-spacing 0.1px
  &__item
    color #bbbcc4
    font-family Roboto
    font-size 13px
    line-height 20px
    margin-left 5px

.b-more
  position relative
  margin-top 6px
  &_active
    .b-more__icon
      fill c-purple
    .b-more__tooltip
      visibility visible
      opacity 1
  &__btn
    cursor pointer
    height 18px
    &_active
      fill c-purple
      .b-more__icon
        fill c-purple
  &__icon
    fill #cfd5db
    size 4px 18px
    transition fill 0.3s ease
    &:hover
      fill c-purple
  &__tooltip
    background-color #ffffff
    border 1px solid #e8e8e8
    border-radius 4px
    visibility hidden
    width 117px
    absolute top 30px right -29px
    z-index 3
    margin-top 10px
    opacity 0
    transition opacity 0.3s ease
    &:before
      background-image url("../images/icon-triangle.png")
      content ''
      size 22px 11px
      absolute top -11px right 20px
    &-item
      color black
      display flex
      width 100%
      justify-content center
      font-size 16px
      line-height 25px
      padding 15px 0
      transition color 0.3s ease
      &:hover
        color #694caf

.b-tools
  display flex
  flex-wrap wrap
  margin-top 8px
  &__item
    border-radius 4px
    border 1px solid #e6ecf2
    box-sizing border-box
    cursor pointer
    font-size 13px
    height 28px
    padding 0 9px
    display flex
    align-items center
    transition all 0.3s ease
    margin-bottom 10px
    &:hover
      border 1px solid c-purple
    &:not(:last-child)
      margin-right 10px
    &_active
      background-color c-purple
      border 1px solid c-purple
      color white
      .b-tools__icon
        fill white
  &__icon
    size 9px 10px
    fill black
    margin-right 5px
    transition fill 0.3s ease
  &__reloading
    size 12px 17px
    fill black
    margin-right 5px
    animation spin 4s linear infinite

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.b-rating
  display flex
  flex-wrap wrap
  font-size 13px
  margin-top 6px
  &_none
    .b-rating__icon
      fill #bbbcc4
    .b-rating__info
      color #bbbcc4
  &__icon
    fill #ffaa30
    size 16px 15px
    margin-right 5px
  &__numbers
    color #ffaa30
    line-height 20px
    font-weight 700
    margin-right 5px
  &__info
    line-height 20px
    margin-left 4px
    letter-spacing 0.1px
  &__text
    color #bbbcc4
    line-height 20px

.b-update
  font-size 13px
  color #694caf
  margin-top 8px